body {
    background-color: black;
}
.pSmall1 {
   color: yellowgreen;
}

footer {
   margin-bottom: -1%;
   background-color: rgb(44, 44, 44);
   padding-bottom: 2%;
   border-style: groove;
   border-color: white;
   border-right: hidden;
   border-left: hidden;
   border-left: -1%;
   display: flex;
   flex-direction: row;
   justify-content: space-around; 
   
}
.footerLinks {
display: flex;
flex-direction: column;
padding-top: 20%;
line-height: 40px;
}

   .footerLinks a {
   color: white;
   text-decoration: none;
   zoom: 1;
   }

.footerLinks2 {
   display: flex;
   flex-direction: column;
   padding-top: 12%;
   line-height: 70px;
   }
   .footerLinks2 a {
       color: white;
       text-decoration: none;
       zoom: 1;
       
   }

.logoFooter {
   padding-top: 10%;
   padding-left: 10%;
   height: 90px;
   width: 60%;
}
.images {
   padding: auto;
   margin-left: 10%;
   margin-right: 10%;
   border: 10px;
   align-items: center;
   width: 80%;
   height: 700px;
   align-items: center;
   };
 

.zoom {
   padding: 20px;
   transition: transform .1s;
}
.zoom:hover{
   -ms-transform: scale(1.2); /* IE 9 */
 -webkit-transform: scale(1.2); /* Safari 3-8 */
 transform: scale(1.2); 
}

.box-top {
   /* anuncio antes de la nav */
   padding: 6px 0;
   background-color: white;
   text-align: center;
   font-size: 1.6rem;
   color: gray;
}


.principalTable{

   padding-left: 5%;
   padding-top: 6%;
   padding-right: 5%;
   padding-bottom: 5%;

}

.tableImages {
   height: 300px;
   width: 600px;
}

.principalImage {
   height: 600px;
   width: 1200px;
}

.sedeBox {
 margin-left: 10%;
margin: 10%, 10%, 10%, 10%;
}

   .stickers {
      margin-bottom: 5%;
      margin-top: 8%;
    }
  

.shortDescription {
font-size: smaller;
line-height: 0%;

}

h3 {
   color: white;
   font-family: 'Roboto', sans-serif;
   font-weight: 100;

}

h4 {
   color: white;
   font-family: 'Roboto', sans-serif;
}
h1 {
   color: white;
   text-align: center;
   font-family: 'Roboto', sans-serif;
}
h2 {
   color: white;
   text-align: center;
   margin-top: 0px;
   padding-top: 2px;
   font-family: 'Roboto', sans-serif;
}
.centralCheckBox {
   margin-top: 0px;
}
legend {
 
  text-align: center;
}

.reservation {
   width: 170px;
}

.divSocialIcons {
   padding-top: 10%;
}

.fa {
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
 }
 .fa-facebook {
   background: #3B5998;
   color: white;
 }

 .fa-twitter {
   background: #55ACEE;
   color: white;
 }

 .fa-instagram {
   background: #ee55a1;
   color: white;
 }
 .fa-google {
   background: #e87c33;
   color: white;
 }

 .principalMessage {
  border-bottom: white;
  border-style: outset;
  border-right: black;
  border-left: black;
  border-top: black;
  padding-top: 5%;
  padding-bottom: 5%;
 
 }
 .placesTable {
   margin: auto;
 }
 .sedeBox {
   border-style: inset;
   border-color: white;
 }
 .internalSedeBox {
   border-bottom: white;
   border-style: inset;
 }
p {
   color: white;
   font-size: 1rem;
   color: white;
   text-decoration:  solid;
   font-family: 'Roboto', sans-serif;
}
.sedesSection {
   margin-bottom: 5%;
}

.column2 {
   padding-left: 1%;
}
 .fields {
   display: flex;
   flex-direction: column;
   margin:  2%;
 }
 input {
   margin: 2%;
   height: 30px;
   width: 400px;
 }
 select {
   margin:2% ;
   height: 40px;
   width: 410px;
 }
 
.sendTable {
   margin: auto;
   margin-top: 2.5%;
}

button {
 margin-bottom: 3%;
 margin-top: 2%;
 width:  100px;
 height: 40px;

}

.differentMargin {
   text-align: left;
}
.contactButton {
   width: 120px;

}

nav{
      background-color: rgb(44, 44, 44);
   padding: 10px;
   height: auto;
   position: sticky;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

}
   nav img{
       padding-top: 3%;
       padding-bottom: 0.3%;
       width: 250px;
   
 
   }

   nav ul{
       list-style: none;
       display: flex;
   }

       nav ul li{
       
            margin-right: 30px;
       }
           nav ul li a{
               font-size: 1.5rem;
               color: white;
               text-decoration:  solid;
               font-family: 'Roboto', sans-serif;
               font-weight: 400;
           }

       
               nav ul li a:hover{
                   color: black;
                   text-decoration: underline;
               }
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

div img {
   width: 350px;
   height: auto;
   
}

.navDiv {
   background-color: rgb(44, 44, 44);
   height: auto;
 }
 .changeColor:hover {
   color: rgb(205, 50, 50);
   text-decoration: underline;
 }
 .aNavStyle{
   font-family: 'Roboto', sans-serif;
   text-decoration: solid;
   color: white;
   font-size: 1.5rem;
  
 }
 .burgerButton {
   border-color: #e87c33;
   color:aquamarine;
   background-color: bisque;
 }
 .footerStyle {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
 }